*{
    margin: 0;
}
form{
    border-radius: 35px;
    width: 35%;
    margin: auto;
    padding: 150px;
    position: relative;top: 60px;
    background-color: rgb(107, 107, 236);
}
.i1{
    border-radius: 5px;
}
.e1{
    display: flex;
    position: relative;top: -20px;
    position: relative;left: 140px;
}
.i4{
    border-radius: 5px;
    width: 19%;
}
.i2{
    border-radius: 5px;
    width: 11%;
}
.e4{
    display: flex;
}
.i3{
    width: 5%;
    border-radius: 5px;
    height: 15px;
}
.i5{
    border-radius: 5px;
    width: 5%;
    height: 15px;
    margin-left: 15px;
}
.m1{
    position: relative;left: 135px;
    position: relative;top: -19px;
}